@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using Alexr03.Common.Web.Extensions
@using Kendo.Mvc.UI
@using TCAdmin.SDK.Web.MVC.Extensions
@using TCAdminBackupManager.Configuration
@model TCAdminBackupManager.Configuration.FtpProviderConfiguration

@using (Ajax.BeginForm(new AjaxOptions {OnSuccess = "Alexr03.Common.HandleAjaxSuccess", OnBegin = "Alexr03.Common.HandleAjaxBegin", OnFailure = "TCAdmin.Ajax.HandleAjaxFailure"}))
{
    @Html.AntiForgeryToken()
    <div class="primary-toolbar">
        @(Html.Kendo().ToolBar()
            .Name("toolBar".Prefix(Model.GetType(), "_"))
            .Items(items =>
            {
                items.Add().Template(this.GetToolbarButton(Resources.Global.Save, "save"));
                items.Add().Type(CommandType.Button).Icon("cancel").Text(Resources.Global.Cancel).Click("TCAdmin.Ajax.CancelClicked");
            }))
    </div>
    <div class="primary-content">
        <fieldset class="fieldset-form auto-focus">
            @Html.ValidationSummary(true)
            <h2>S3 Provider Configuration</h2>
            <ul>
                <li>
                    <dl>
                        <h3>General Information</h3>
                        <dt>@Html.LabelFor(m => m.Enabled)</dt>
                        <dd>@Html.Kendo().SwitchFor(m => m.Enabled)@Html.ValidationMessageFor(m => m.Enabled)@Html.TooltipFor(m => m.Enabled)</dd>

                        <dt>@Html.LabelFor(m => m.Quota)</dt>
                        <dd>
                            @Html.Kendo().NumericTextBoxFor(m => m.Quota).Format("#")@Html.ValidationMessageFor(m => m.Quota)@Html.TooltipFor(m => m.Quota)
                            @Html.Kendo().DropDownListFor(m => m.QuotaType).HtmlAttributes(new {style = "width: 80px;"}).BindTo(Enum.GetNames(typeof(QuotaType)).ToList().Select(x => new DropDownListItem {Text = x, Value = ((int) Enum.Parse(typeof(QuotaType), x, true)).ToString()})).SelectedIndex((int)Model.QuotaType)
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <h3>FTP Information</h3>
                        <dt>@Html.LabelFor(m => m.Host)</dt>
                        <dd>@Html.Kendo().TextBoxFor(m => m.Host)@Html.ValidationMessageFor(m => m.Host)@Html.TooltipFor(m => m.Host)</dd>

                        <dt>@Html.LabelFor(m => m.Username)</dt>
                        <dd>@Html.Kendo().TextBoxFor(m => m.Username)@Html.ValidationMessageFor(m => m.Username)@Html.TooltipFor(m => m.Username)</dd>

                        <dt>@Html.LabelFor(m => m.Password)</dt>
                        <dd>@Html.Kendo().TextBoxFor(m => m.Password).HtmlAttributes(new {type = "password"})@Html.ValidationMessageFor(m => m.Password)@Html.TooltipFor(m => m.Password)</dd>

                        <dt>@Html.LabelFor(m => m.Port)</dt>
                        <dd>@Html.Kendo().NumericTextBoxFor(m => m.Port).Format("#")@Html.ValidationMessageFor(m => m.Port)@Html.TooltipFor(m => m.Port)</dd>
                    </dl>
                </li>
            </ul>
        </fieldset>
    </div>
}